<div id="phone_configurator">
  <div id="dialplan_details" class="span-7">
    <div id="dialplan_details">
      <div id="try_it_thread">
        <%= render :partial => 'step_4_instructions' %>
      </div>
    </div>
  </div>
  <div id="callplan" class="span-10">
    <h3>Callplan</h3>
    <% form_for :callplan, @callplan, :put, :url=>demo_callplan_path(@callplan.id), :html => { :method => :put } do |callplan_form| %>
      <div class="callplan_details" class="span-10">
        <%= render :partial => '/shared/inbound_number', :locals => { :inbound_number => @callplan.inbound_number.phone_number } %>
        <%= render :partial => '/shared/ivr_menu',
          :locals => { :ivr_menu=>@callplan.action.ivr_menu, :callplan_form => callplan_form } %>
        <div class="save_button">
          <%= image_submit_tag "/images/save_button.png", :id => "save_button" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
