<li id="step_2">Step 2. We have assigned you the number displayed above.
Please ring this number now (it's free) and then fill in your email address and add the number of a phone you are close to.</li>
