<div id="instructions" class="span-7">
  Instructions:<br/>
  <ul>
    <li id="step_1">Step 1. Please enter the name of your business and click next</li>
    <li id="step_2">Step 2. We have assigned you the number displayed above.
    Please ring this number now (it's free) and then click next</li>
    <li id="step_3">Step 3. Did you hear a personalised message? If not click <a href="/help">here</a> Otherwise please enter your email address and a phone number for calls to be directed to and click next. </li>
  </ul>
</div>
