<div class="ivr_row">
  <div class="ivr_step">
    <div class="ivr_step_text">
      Press <br/>
      <%= select :digit, :id, [[1,1],[2,2],[3,3]], :selected => 3 %>
    </div>
  </div>
  <div class="ivr_step_action">
    <div class="ivr_action_text">
      Action:
      <%= ivr_entry.action %>
      <%= text_area_tag(:ivr_menu_entry_textbox,ivr_entry.parameters) %>
      <%= image_submit_tag "/images/close_button.png", 
        :class => "action_close_button", 
        :id => "delete_ivr_action_#{ivr_entry.id}" %>
    </div>
  </div>
</div>

