<img src="/images/phone_configurator.png"/>
<div id="phone_configurator">
  <%= render :partial => 'instructions' %>
  <div id="dialplan_details" class="span-10">
    <% form_for :callplans, :url=>callplans_path do |form| %>
      <%= form.label :company_name %>
      <%= form.text_field :company_name, :size=>30 %>
      <%= form.submit "next" %> 
    <% end %>
  </div>
</div>
