<% if @callplan.errors %>
  <%@callplan.errors.full_messages.each do |message| %>
    <div class="error"><%= message %></div>
  <% end %>
<% end %>
<div class="callplan_details" class="span-14">
  <% form_for :callplan, @callplan, :put, :url=>callplan_path, :html => { :method => :put } do |callplan_form| %>
    <%= render :partial => '/shared/inbound_number', :locals => { :inbound_number=>@callplan.inbound_number.phone_number } %>
    <%= render :partial => '/shared/ivr_menu', :locals => { :ivr_menu=>@callplan.action.ivr_menu, :callplan_form=>callplan_form } %>
    <div class="save_button">
      <%= image_submit_tag "/images/save_button.png", :id => "save_button" %>
    </div>
  <% end %>
</div>

<div id="ivr_menu_entry_prototypes" title="Click on a new menu item"></div>
