div.container {
  background-color: #e2f3ef;
}

div.breadcrumbs a {
  color: #e7ba1c;
}

div.breadcrumbs {
  float: right;
  margin: 0;
  padding: 5px 5px 0 5px;
  position: relative;
  color: #e7ba1c;
  font-weight: normal;
  font-size: 1em;
}

div.page_header a {
  text-decoration: none;
  color: #2b3b3f;
}

div.top_section {
  /*background-image: url('/images/header_background.jpg')*/
  background-color: #c5f2e9;
}

div.page_header {
  padding: 10px 5px 0 5px;
  font-weight: normal;
  font-size: 4em;
  font-weight: bold;
}

div.main_content {
  min-height: 500px;
  padding: 10px 5px 0 5px;
  text-align: center;
  background-color: #e2f3ef;
  margin:auto;
}

#tagline {
  padding: 5px 5px 0 5px;
  margin:auto;
  width:70%;
}


/* TABS */
/* begin css tabs */

ul#tabnav {
  text-align: left;
  margin: 1em 0 0em 0;
  font: bold 11px verdana, arial, sans-serif;
  border-bottom: 1px solid #e7ba1c;
  list-style-type: none;
  padding: 3px 10px 3px 10px;
}

ul#tabnav li { /* do not change */
  display: inline;
}

body#home li.home, body#more li.more, body#tryit li.tryit, body#signup li.signup {
  border-bottom: 1px solid #fff;
  background-color: #fff;
}

body#home li.home a, body#more li.more a, body#tryit li.tryit a, body#signup li.signup a {
  background-color: #e2f3ef;
  color: #e7ba1c;
  position: relative;
  top: 1px;
  padding-top: 4px;
}

ul#tabnav li a {
  padding: 3px 4px;
  border: 1px solid #e7ba1c;
  background-color: #e7ddbd;
  color: #e7ba1c;
  margin-right: 0px;
  text-decoration: none;
  border-bottom: none;
}

ul#tabnav a:hover {
  background: #e2f3ef;
}

/* end css tabs */

#call_plan_form_extended {
  display: none;
}

div.basic_text_box {
  padding: 10px 7px 10px 6px;
  margin-bottom: 10px;
  text-align: left;
}

#phone_configurator {
  margin:auto;
  width:80%;
}

#dialplan_details {
  padding: 10px 7px 10px 6px;
  background-color:#c5f2e9;
  text-align: left;
  min-height: 300px;
}

div.decision_box {
  margin-bottom: 10px;
  text-align: center;
}

span.step_box_left {
  border: 1px solid #fff;
  float: left;
  height: 60;
  width: 60%;
}

div.step_box {
  border: 1px solid #fff;
  padding: 10px 7px 10px 6px;
  margin-bottom: 10px;
  text-align: left;
}

#try_it_thread {
  text-align: right;
  margin:auto;
  width:90%;
}

#incoming_call_box {
  background-image: url('/images/incoming_call_box.png');
  background-repeat: no-repeat;
  background-position:center;
  text-align: center;
  height: 125;
  font-size: 2em;
}

.synthetic_voice_box {
  background-image: url('/images/synthetic_voice.png');
  background-repeat: no-repeat;
  background-position: bottom center;
  height: 125;
}

.synthetic_voice_text {
  padding: 10px 0px 0px 0px;
  margin: auto;
  width: 75%;
  font-size: 1.2em;
}

.synthetic_voice_title {
  font-size: 2em;
  position: relative;
  left: 40px;
  top: 5px;
  text-align: left;
}

#ivr_top_box {
  background-image: url('/images/voice_menu_top.png');
  background-repeat: no-repeat;
  background-position: bottom center;
  height: 125;
}

.ivr_main_box {
}


.ivr_title {
  text-align: left;
  font-size: 1.5em;
}

.ivr_greeting_text {
  text-align: left;
  font-size: 1.2em;
  line-height: 50%;
}

.callplan_details {
  padding: 20px 0px 0px 0px;
  margin:auto;
  width: 375px;
  border: 3px solid #000000;
}

.text_padding {
  padding: 5px 0px 0px 35px;
}

.long_greeting {
  width: 300px;
  height: 70px;
  float: left;
}

#ivr_menu_entry_textbox{
  width: 240px;
  height: 40px;
}

.ivr_step {
  height: 85;
  width: 99px;
  background-image: url('/images/ivr_step.png');
  background-repeat: no-repeat;
  background-position: right;
}

.ivr_end {
  width: 170px;
  height: 70px;
  background-image: url('/images/ivr_end.png');
  background-repeat: no-repeat;
  background-position: right top;
}

#add_menu_option_submit_image {
  position: relative;
  top: -70px;
  left: 28px;
}

.ivr_row {
  display: inline;
}

.ivr_step_action {
  position: relative;
  top: -80px;
  float: right;
  font-size: 1.2em;
  text-align: left;
  height: 85px;
  width: 273px;
  background-image: url('/images/ivr_step_action.png');
  background-repeat: no-repeat;
  background-position: left;
}

.ivr_step_text {
  position: relative;
  top: 25px;
  font-size: 1.2em;
  line-height: 50%;
}

.ivr_action_text {
  position: relative;
  top: 5px;
  left: 5px;
  font-size: 1.2em;
}

.action_close_button {
  position: relative;
  float: right;
  top: -22px;
  right: 32px;
}

.ivr_close_button {
  position: relative;
  float: right;
  top: -20px;
  right: 30px;
}

.save_button {
  position: relative;
  width: 400px;
  float: right;
  left: 150px;
  top: -30px;
}

#inbound_calls_text {
  padding-top: 7px;
  margin: auto;
  width: 60%;
}

