#slider3 { 
  height: 1%; 
  overflow:hidden; 
  padding: 0 0 10px 0; 
}

#slider3 .viewport { 
  width: 500px; 
  height: 375px; 
  float: left; 
  overflow: hidden; 
  position: relative; 
}

#slider3 .buttons { 
  display: block; 
  margin: 30px 10px 0 0; 
  background-position: 0 -38px; 
  text-indent: -999em; 
  float: left; 
  width: 39px; 
  height: 37px; 
  overflow: hidden; 
  position: relative; 
}

#slider3 .prev { 
  background-position: 0 0; 
  margin: 30px 0 0 10px; 
  background: url("../images/prev_button.png") no-repeat scroll 0 0 transparent
}

#slider3 .next { 
  background-position: 0 0; 
  margin: 30px 0 0 10px; 
  background: url("../images/next_button.png") no-repeat scroll 0 0 transparent
}

#slider3 .disable { visibility: hidden; }

#slider3 .pagenum { 
  background-color: #fff; 
  text-decoration: none; 
  text-align: center; 
  padding: 5px; 
  color: #555555; 
  font-size: 14px; 
  font-weight: bold; 
  display: block; 
}

#slider3 .active { color: #fff; background-color:  #555555; }

#slider3 .overview { 
  list-style: none; 
  position: absolute; 
  width: 500px; 
  left: 0 
  top: 0; 
}

#slider3 .overview li{ 
  float: left; 
  margin: 0 20px 0 0; 
  padding: 1px; 
  height: 121px; 
  border: 1px solid #dcdcdc; 
  width: 500px;
}


div.container {
  background-color: #e2f3ef;
}

div.breadcrumbs a {
  color: #e7ba1c;
}

div.breadcrumbs {
  float: right;
  margin: 0;
  padding: 5px 5px 0 5px;
  position: relative;
  color: #e7ba1c;
  font-weight: normal;
  font-size: 1em;
}

div.page_header a {
  text-decoration: none;
  color: #2b3b3f;
}

div.top_section {
  background-color: #c5f2e9;
}

div.page_header {
  padding: 10px 5px 0 5px;
}

div.main_content {
  min-height: 500px;
  padding: 10px 5px 0 5px;
  text-align: center;
  background-color: #e2f3ef;
  margin:auto;
}

#tagline {
  padding: 5px 5px 0 5px;
  margin:auto;
  width:70%;
}


/* TABS */
/* begin css tabs */

ul#tabnav {
  text-align: left;
  margin: 1em 0 0em 0;
  font: bold 11px verdana, arial, sans-serif;
  border-bottom: 1px solid #e7ba1c;
  list-style-type: none;
  padding: 3px 10px 3px 10px;
}

ul#tabnav li { /* do not change */
  display: inline;
}

body#home li.home, body#more li.more, body#tryit li.tryit, body#signup li.signup {
  border-bottom: 1px solid #ffffff;
  background-color: #ffffff;
}

body#home li.home a, body#more li.more a, body#tryit li.tryit a, body#signup li.signup a {
  background-color: #e2f3ef;
  color: #e7ba1c;
  position: relative;
  top: 1px;
  padding-top: 4px;
}

ul#tabnav li a {
  padding: 3px 4px;
  border: 1px solid #e7ba1c;
  background-color: #e7ddbd;
  color: #e7ba1c;
  margin-right: 0px;
  text-decoration: none;
  border-bottom: none;
}

ul#tabnav a:hover {
  background: #e2f3ef;
}

/* end css tabs */

#call_plan_form_extended {
  display: none;
}

div.basic_text_box {
  padding: 10px 7px 10px 6px;
  margin-bottom: 10px;
  text-align: left;
}

#phone_configurator {
  margin:auto;
  width:80%;
}

#dialplan_details {
  padding: 10px 7px 10px 6px;
  background-color:#c5f2e9;
  text-align: left;
  min-height: 300px;
}

div.decision_box {
  margin-bottom: 10px;
  text-align: center;
}

div.step_box {
  border: 1px solid #ffffff;
  padding: 10px 7px 10px 6px;
  margin-bottom: 10px;
  text-align: left;
}

#try_it_thread {
  text-align: right;
  margin:auto;
  width:90%;
}

#incoming_call_box {
  background-image: url('/images/incoming_call_box.png');
  background-repeat: no-repeat;
  background-position:center;
  text-align: center;
  height: 130px;
  font-size: 2em;
}

.synthetic_voice_box {
  background-image: url('/images/synthetic_voice.png');
  background-repeat: no-repeat;
  background-position: bottom center;
  height: 125;
}

.synthetic_voice_text {
  padding: 10px 0px 0px 0px;
  margin: auto;
  width: 75%;
  font-size: 1.2em;
}

.synthetic_voice_title {
  font-size: 2em;
  position: relative;
  left: 40px;
  top: 5px;
  text-align: left;
}

#ivr_top_box {
  background-image: url('/images/voice_menu_top.png');
  background-repeat: no-repeat;
  background-position: bottom center;
  height: 125px;
}

.ivr_title {
  text-align: left;
  font-size: 1.5em;
}

.ivr_greeting_text {
  text-align: left;
  font-size: 1.2em;
  line-height: 50%;
}

.callplan_details {
  padding: 20px 0px 0px 0px;
  margin:auto;
  width: 375px;
  height: 800px;
}

.text_padding {
  padding: 5px 0px 0px 35px;
}

.long_greeting {
  width: 300px;
  height: 60px;
  float: left;
}

#ivr_menu_entry_textbox{
  height:15px;
  width:225px;
  border-bottom-width:0;
  margin-bottom:0;
  padding-bottom:3px;
}

.ivr_row {
  height: 85px;
}
.ivr_step {
  height: 85px;
  width: 98px;
  background-image: url('/images/ivr_step.png');
  background-repeat: no-repeat;
  background-position: right top;
  float: left;
}

.ivr_end {
  width: 168px;
  height: 70px;
  float: left;
  background-image: url('/images/ivr_end.png');
  background-repeat: no-repeat;
  background-position: right top;
}

#add_menu_option_submit_image {
  position: relative;
  top: 20px;
  left: 28px;
}

.form_errors {
  font-size: 60%;
  color: #e70000;
}

.ivr_step_action {
  position: relative;
  float: right;
  font-size: 1.2em;
  text-align: left;
  height: 85px;
  width: 273px;
  background-image: url('/images/ivr_step_action.png');
  background-repeat: no-repeat;
  background-position: left;
}

.ivr_step_text {
  position: relative;
  top: 25px;
  font-size: 1.2em;
  line-height: 50%;
}

.ivr_action_text {
  position: relative;
  top: 5px;
  left: 5px;
  font-size: 1.2em;
}

.action_close_button {
  position: absolute;
  float: right;
  top: 10px;
  right: 32px;
}

.change_media_file {
  position: relative;
  float: right;
  top: 3px;
  right: 35px;
}

.ivr_close_button {
  position: relative;
  float: right;
  top: -20px;
  right: 30px;
}

.save_button {
  position: relative;
  float: right;
  left: -50px;
  top: 20px;
}

#hideme {
  display: none;
}
#inbound_calls_text {
  padding-top: 7px;
  margin: auto;
  width: 60%;
}

