<div class="ivr_action_text">
  <%= ivr_menu_entry.prototype.prompt %> <br>
  <div>
    <% if ivr_menu_entry.audio_file %>
      > <%= ivr_menu_entry.audio_file.audio_file_name %>
    <% else %>
      > No file attached
    <% end %>
    <%= link_to image_tag ("/images/change_audio_file_button.png", :border =>0), edit_play_audio_file_menu_entry_url(ivr_menu_entry.id), :class => "change_audio_file", :id => "change_audio_file_#{ivr_menu_entry.id}"  %>
  </div>
</div>
