<div class="ivr_action_text">
  <%= ivr_menu_entry.prototype.prompt %>
  <%= ivr_menu_entries_fields.text_area(:param_1, :id => "ivr_menu_entry_textbox") %>
</div>
<%= link_to image_tag ("/images/upload_media_file_button.png", :class => "upload_media_file", :border =>0),
  "/audio_files/", :class => "upload_media_file_link" %>
