  <div class="ivr_row">
    <div class="ivr_step">
      <div class="ivr_step_text">
        Press <br/>
        <% choices = [['*','*'],['1','1'],['2','2'],['3','3'],['4','4'],['5','5'],['6','6'],['7','7'],['8','8'],['9','9']] %>
        <%= ivr_menu_entries_fields.select :digits,
          choices %>
      </div>
    </div>
    <div class="ivr_step_action">
      <div class="ivr_action_text">
        <%= ivr_menu_entry.prompt %>
        <%= ivr_menu_entries_fields.text_area(:user_param_part, 
                                              :id => "ivr_menu_entry_textbox") %>
        <%= image_submit_tag "/images/close_button.png",
          :class => "action_close_button",
          :id => "delete_ivr_action" %>
      </div>
    </div>
  </div>
