<div id="slider">
  <a class="buttons prev" href="#">left</a>
  <div class="viewport">

    <ul class="overview">
      <li><img src="images/bob1.jpg" /></li>
      <li><img src="images/bob2.jpg" /></li>
      <li><img src="images/bob3.jpg" /></li>
      <li><img src="images/bob4.jpg" /></li>
      <li><img src="images/bob5.jpg" /></li>
      <li><img src="images/bob6.jpg" /></li>
      <li><img src="images/bob7.jpg" /></li>
    </ul>
  </div>

  <a class="buttons next" href="#">right</a>
</div>
<div id="demo_callplan_form">
  <h3> Try it now (it's free)</h3>
  <%= render :partial => '/shared/demo_callplan_form' %>
</div>
