<h3>What is ringTing?</h3>

<p>ringTing helps small businesses create professional 
telephone systems very easily and very quickly.
</p>
<div>
With ringTings you can:
<ul>
  <li>Have a single number for your business</li>
  <li>Configure incomming calls to exactly suit your business</li>
  <li>Create a professional automatic voice menu system</li>
  <li>Route customer enquiries to the right people or group of people</li>
  <li>Get access to voice messages over the internet or via phone</li>
  <li>Send calls to voicemail when you are on holiday</li>
  <li>etc...</li>
</div>

<h3>See a demo</h3>



<% if signed_in? %>
  Signed in
<% end %>
