<h3 id=tagline>A <b>tailored, professional telephone system</b> for your business, instantly
</h3>
<p>
<%= link_to image_tag ("/images/what_is_ringtings.png", :border =>0), demo_callplans_path %>
</p>
<div class="basic_text_box">
With ringTings you can:
<ul>
  <li>Have a single number for your business</li>
  <li>Configure incomming calls to exactly suit your business</li>
  <li>Create a professional automatic voice menu system</li>
  <li>Route customer enquiries to the right people or group of people</li>
  <li>Get access to voice messages over the internet or via phone</li>
  <li>Send calls to voicemail when you are on holiday</li>
  <li><%= link_to "Try it now", demo_callplans_path %></li>
</div>
