defaults: &defaults
  adapter: postgresql
  encoding: unicode
  username: postgres
  password: postgres
  host: localhost


development:
  database: ringtings_development
  <<: *defaults

test:
  database: ringtings_test
  <<: *defaults

production:
  database: ringtings_production
  <<: *defaults

