<div>
  <% @ivr_menu_entry_prototypes.each do |ivr_menu_entry_prototype| %>
    <% form_for :ivr_menu_entry, ivr_menu_entry_prototype, :url=>ivr_menu_entries_path do |ivr_menu_entry_form| %>
      <%= hidden_field_tag :ivr_menu_id, @ivr_menu_id %>
      <%= hidden_field_tag :type, ivr_menu_entry_prototype.name %>
      <%= ivr_menu_entry_prototype.description %>
      <%= image_submit_tag "/images/#{ivr_menu_entry_prototype.image}" %>
    <% end %>
  <% end %>
</div>
