<head>
  <link rel="stylesheet" href="css/blueprint/screen.css" type="text/css" media="screen, projection">
  <link rel="stylesheet" href="css/blueprint/print.css" type="text/css" media="print">	
  <!--[if lt IE 8]><link rel="stylesheet" href="css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
</head>
<body>
<% if flash[:success] %>
  <div class="success"><%= flash[:success] %></div>
<% end %>
<% if flash[:failure] %>
  <div class="failure"><%= flash[:failure] %></div>
<% end %>
<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>
  <div class="container">
    <div class="span-24 last">
      <h1>Playpen title</h1>
    </div>
    <div class="span-4">
      some Menu
    </div>
    <div class="span-20 last">
      <%= yield -%>
    </div>
    <div class="span-24 last">
      Footer
    </div>
  </div>
</body>
